.custom-btn,
.hover-btn {
    background-color: $green;
    color: $white;
    @include unineue(bold);
    border: 2px solid;
    padding: 0.5rem 1.563rem;
    @include border-radius(8px);

    &:hover {
        background-color: transparent;
        color: $green;
    }

    @media (max-width: 453px) {
        width: 100%;
        padding: 8px;
    }
}

.hover-btn {
    background-color: transparent;
    color: $green;
    border: 2px solid $green;

    &:hover {
        background-color: $green;
        color: $white;
    }
}