.feature {
    &-box {
        margin-bottom: 2rem;

        .img-style {
            position: relative;
            height: 32.813rem;
            overflow: hidden;
            @include border-radius(8px 8px 0 0);

            @media (max-width: 991px) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content-style {
            padding: 2rem;
            border: 1px solid $blk;
            max-height: 470px;
            @include border-radius(0 0 8px 8px);

            @media (max-width: 767px) {
                padding: 1rem;
            }
        }

        h2 {
            line-height: 4rem;
            margin-bottom: 1rem;

            @media (max-width: 1024px) {
                line-height: 3rem;
            }

            @media (max-width: 767px) {
                line-height: 2rem;
            }

            span {
                display: block;
            }
        }

        h4 {
            @include unineue(regular);
            line-height: 2rem;
            margin-bottom: 2rem;
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 2rem;

            &-img {
                width: 6.25rem;
                height: 6.25rem;
                overflow: hidden;
                @include border-radius(100%);

                img {
                    width: auto;
                    height: 100%;
                }
            }

            &-info {
                h4 {
                    margin-bottom: 0;
                }
            }
        }

        a {
            &.custom-btn {
                display: block;
            }
        }
    }
}